ul{
    list-style-type: none;
    display:flex;
    padding:5px;
   margin:10px;
   flex-direction:column;
}
li{
    flex: grow 1;
    }
    a
   {
    display:block;
    background-color:pink;
   text-align:center;
   text-decoration:none;
   color:black;
}

 a:hover{
    background-color:blueviolet;
   }
